VSVersionInfo VERSIONINFO
FILEVERSION %(VERSION_TUPLE)s
PRODUCTVERSION %(VERSION_TUPLE)s
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "ProductName", "pyhabitat\0"
      VALUE "FileVersion", "%(VERSION)s\0"
      VALUE "CompanyName", "George Clayton Bennett\0"
      VALUE "LegalCopyright", "© 2025 George Clayton Bennett\0"
    END
  END
END
